body {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr) repeat(1, 4.5fr);
}

aside {
  background-color: aqua;
  height: 100vh;
  min-width: 250px;
}

.container > nav {
  background-color: blueviolet;
  height: 20vh;
}

.container > main {
  background-color: brown;
  height: calc(100vh - 20vh);
}
