@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #016a70;
  --secondary-color: #d2de32;
  --main-bg: #fff;
  --secondary-bg: #e4e4e4;
  --font-secondary: #4b4b4b;
}

body {
  margin: 0 auto;
  display: grid;
  font-family: "Poppins", sans-serif;
  grid-template-columns: repeat(1, 1fr) repeat(1, 4.5fr);
}

aside {
  background-color: var(--main-color);
  color: var(--main-bg);
  height: 100vh;
  min-width: 250px;
  padding: 0 20px;
}

aside > #logo > p {
  margin: 20px 0 32px 0;
  font-size: 24px;
  font-weight: 600;
}

aside > .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

aside > .menu:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
  cursor: pointer;
}

aside > .menu > p > span {
  display: inline-flex;
  vertical-align: -6px;
}

aside > .menu > p {
  margin: 8px;
}

aside > .settings {
  margin-top: 48px;
}

.container > .search-container {
  background-color: var(--main-bg);
  height: 8vh;
  padding: 0 30px;
  display: flex;
}

.container > .search-container > #search-right,
#search-left {
  display: flex;
  align-items: center;
}

.container > .search-container a {
  margin-right: 15px;
  display: inline-flex;
  text-decoration: none;
  color: black;
}

.container > .search-container > #search-left {
  width: 50%;
}

.container > .search-container > #search-right {
  width: 50%;
  justify-content: flex-end;
}

.container > .search-container > #search-left > input {
  background-color: var(--secondary-bg);
  height: 30px;
  width: 100%;
  margin-right: 32px;
  border: none;
  border-radius: 14px;
  padding: 0 10px;
}

.container > .search-container > #search-left > input:focus {
  outline: none;
}

.container > nav {
  display: flex;
  align-items: center;
  background-color: var(--main-bg);
  height: 10vh;
  padding: 0 30px 12px 30px;
}

.container > nav > .left-nav-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.container > nav > .left-nav-container > img {
  width: fit-content;
  height: fit-content;
  margin-right: 12px;
}

.container > nav > .left-nav-container > .name-container > p,
h3 {
  margin: 0;
}

.container > nav > .nav-button {
  display: flex;
  justify-content: flex-end;
}

.container > nav > .nav-button > button {
  background-color: var(--main-color);
  color: var(--main-bg);
  border: none;
  border-radius: 16px;
  padding: 8px 16px;
  margin-left: 16px;
  font-size: 14px;
}

.container > nav > .nav-button > button:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.container > main {
  background-color: var(--secondary-bg);
  height: calc(100vh - 10vh - 9.7vh);
  padding: 0 30px;
  display: flex;
}

.container > main > .left-main-container {
  width: 70%;
  margin-right: 30px;
}

.container > main > .left-main-container > h4 {
  margin: 12px 0;
}

.container > main > .left-main-container > .projects {
  resize: both;
  display: grid;
  gap: 24px;
  grid-template-rows: repeat(2, 3fr);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container > main > .left-main-container > .projects > .content-card {
  background-color: var(--main-bg);
  padding: 12px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-left: 5px solid var(--secondary-color);
}

.container > main > .left-main-container > .projects > .content-card > h4 {
  margin: 0;
}

.container > main > .left-main-container > .projects > .content-card > p {
  margin-bottom: 0;
}

.container
  > main
  > .left-main-container
  > .projects
  > .content-card
  > .content-icon {
  display: flex;
  justify-content: flex-end;
}

.container
  > main
  > .left-main-container
  > .projects
  > .content-card
  > .content-icon
  > a
  > span {
  margin-left: 18px;
  color: black;
}

.container
  > main
  > .left-main-container
  > .projects
  > .content-card
  > .content-icon
  > a
  > span:hover {
  color: var(--main-color);
}

.container > main > .right-main-container {
  /* width: 30%; */
}

.container > main > .right-main-container > .announcements {
  /* height: 50%; */
}

.container > main > .right-main-container > .announcements > h4 {
  margin: 12px 0;
}

.container
  > main
  > .right-main-container
  > .announcements
  > .announcement-container {
  background-color: var(--main-bg);
  padding: 12px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 200px;
  overflow: auto;
}

.container
  > main
  > .right-main-container
  > .announcements
  > .announcement-container
  > .announcement-card
  > h5 {
  margin: 0;
}

.container
  > main
  > .right-main-container
  > .announcements
  > .announcement-container
  > .announcement-card
  > p {
  margin: 0;
  font-size: 12px;
  color: var(--font-secondary);
}

.container
  > main
  > .right-main-container
  > .announcements
  > .announcement-container
  > .announcement-card
  > hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--font-secondary);
  margin: 1em 0;
  padding: 0;
}

.container > main > .right-main-container > .trending {
  height: 50%;
}
